@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
  background-color: var(--bg);
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* variable couleur */

:root {
    --bg: #fff;
    --text-color: #000;
  }
  /* thème sombre */
  @media (prefers-color-scheme: dark){
    :root {
        --bg: #171717;
        --text-color: #fff;
    }

    .card, .modal img {
      filter: invert(100%);
    }
  }
/* css navbar */
.navbar {
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    justify-content: center;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
.navbar .brand {
  margin-left: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}

.navbar img {
    height: 45px;
    width: 45px;
}
.navbar .right {
  position: absolute;
  right: 0;
    align-items: center;
    display: flex;
}
.navbar .time, i, .brandname{
    margin-right: 30px;
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.navbar .matiere{
  margin-right: 30px;
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.home h1 {
  color: var(--text-color);
  font-weight: 500;
  font-size: 32px;
  animation-name: fadeIn;
    animation-duration: 1.5s;
    text-align: center;
    margin-top: 60px;
}
.home p {
  color: var(--text-color);
  margin: 10px;
  font-weight: 400;
  font-size: 13px;
  animation-name: fadeIn;
    animation-duration: 1.5s;
    width: 700px;
    text-align: center;
}
.home h5 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
}

.home a {
  color: var(--text-color);
  text-decoration: underline;
}

/*  animation stylé idk */
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .slider{
    display: flex;
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 50px;
    
}
.item{
  background-color: #74747494;
  margin-top: 50px;
  position: absolute;
    width: 480px;
    height: 270px;
    border-radius: 10px;
    transition: 0.5s;
    left: calc(50% - 240px);
    top: 0;
    overflow: hidden;
    box-shadow: 4px 3px 8px 1px #42424233;
  	-webkit-box-shadow: 4px 3px 8px 1px #42424233;
    cursor: pointer;
}
.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.item:hover{
  .inner{
    transform: rotateY(180deg);
      
  }
}
.front, .back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.front img {
  height: auto;
  width: 100%;
}

.front {
  background-color: #ffffff;
}

.back {
  background-image: url('./img/texture.png');
  background-color: #ffffff;
  color: #000000;
  transform: rotateY(180deg);
}

.front h2 {
  position: absolute;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
.back h5 {
  margin: 10px;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
}
.slider i {
  margin: 40px;
  text-align: center;
  height: 100vh;
  color: var(--text-color);
  font-size: 30px;
  font-weight: 500;
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
}
#next, #prev{
  height: 100vh;
  width: 100px;
  border: 0;
  background-color: transparent;
  z-index: 5;
  position: absolute;
  top: 40%;
  left: 50px;
  display: flex;
  justify-content: center;
}

#next{
    left: unset;
    right: 50px;
}

.back button {
  border: 0;
  padding: 8px;
  border-radius: 12px;
  margin: 10px;
  color: #fff;
  font-size: 15px;
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
.back button.learn {
  background-color: #3cb371;
}
.back button.lib {
  background-color: #5f9fe3;
}
.back button:hover {
  transform: scale(1.1);
}
.back button:not(:hover){
  transition-delay: .1s;
}

@media screen and (max-width: 850px) {
  
  .home p {
    width: 80%;
  }
  #next {
    right: 0px;
  }
  #prev {
    left: 0px;
  }
}
@media screen and (max-width: 500px) {
  .searchcard {
    width: 80vw;
  }
  .matiere {
    display: none;
  }
  
}


/* css des flashcards */
.cards {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url('./img/texture.png');
  height: 180px;
  width: 320px;
  border-radius: 10px;
  box-shadow: 4px 3px 8px 1px #42424233;
  	-webkit-box-shadow: 4px 3px 8px 1px #42424233;
    margin: 10px;
}

.card h2 {
  font-style: italic;
  font-size: 20px;
  margin-left: 10px;
  color: #000;
  font-weight: 400;
}
.innercard h3 {
  font-size: 13px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 400;
  text-decoration: underline;
}
.card h5 {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #000;
}

.innercard {
  width: 100%;
}
/* css du popup */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  transition: 200ms ease-in-out;
  border-radius: 10px;
  z-index: 10;
  background-color: var(--bg);
  max-width: 90%;
  height: 450px;
  width: 800px;
  filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  visibility: visible;
}
.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.modal-header .title {
  width: 700px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}

.modal-header .close-button {
  right: 10px;
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--text-color);
}

.modal-body {
  height: 350px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.modal img {
  position: absolute;
  height: 250px;
  width: auto;
  border: 0;
}
.content {
  width: 90%;
  position: absolute;
  font-weight: 400;
  color: var(--text-color);
  font-size: 23px;
  text-align: left;
  margin: 20px;
}

/* css de l'overlay */
.overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  pointer-events: none;
}
.overlay.active {
  z-index: 2;
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

/* barre de recherche */
.searchsection {
  margin-top: 70px;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 60px;
}

::placeholder{
  color: #fff;
  background-color: transparent;
  text-align: center;
}

 #searchInput {
  background-color: rgba(255, 255, 255, 0);
  font-family: inherit;
  border: 0;
  outline: 0;
  font-size: 15px;
   color: #fff;
   width: 300px;
   text-align: center;
 }
 .searchcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 350px;
  border-radius: 10px;
  background-color: #55555571;
  box-shadow: 4px 3px 8px 1px #42424233;
  	-webkit-box-shadow: 4px 3px 8px 1px #42424233;
  backdrop-filter: blur(5px);
  animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-backdrop-filter: blur(5px);
}
.searchcard:hover {
  width: 500px;
  transition: ease-in-out;
  transition-duration: .5s;
}
.searchcard:not(:hover){
  transition-duration: .5s;
}
.searchcard i {
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-size: 15px;
  color: #fff;
}

/* flashcards random de la page math.html */
.flashcard {
  background-image: url('./img/texture.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 640px;
  height: 360px;
  border-radius: 10px;
  transition: 0.5s;
  left: calc(50% - 320px);
  top: 0;
  overflow: hidden;
  box-shadow: 4px 3px 8px 1px #42424233;
  -webkit-box-shadow: 4px 3px 8px 1px #42424233;
}
.innerflashcard {
  width: 100%;
}
.flashcard h2 {
  font-style: italic;
  font-size: 25px;
  margin-left: 10px;
  color: #000;
  font-weight: 400;
}
.flashcard h5 {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  color: #000;
}
.flashcard h3 {
  position: absolute;
  margin: 20px;
  top: 0;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}
.flashcard h4 {
  position: absolute;
  margin: 20px;
  top: 0;
  right: 0;
  font-size: 20px;
  color: #000;
  font-weight: 500;
  text-decoration: underline;
}
strong {
  text-decoration: underline;
}
no {
  text-decoration: line-through;
}
.end {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  z-index: 1;
}

/* css des boutons sur le popup */
.modal .buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  bottom: 0;
}
.modal .buttons button {
  border: 0;
  padding: 8px;
  border-radius: 12px;
  margin: 10px;
  color: #fff;
  font-size: 15px;
  filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
.buttons button:not(:hover){
  transition-delay: .1s;
}
.buttons button:hover {
  transition-duration: .1s;
  transform: scale(1.1);
}
button#rate {
  background-color: #cd5c5c;
}
button#reussi {
  background-color: #3cb371;
}
