@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: var(--bg);
}

/* variable couleur */

:root {
    --bg: #fff;
    --text-color: #000;
  }
  /* thème sombre */
  @media (prefers-color-scheme: dark){
    :root {
        --bg: #171717;
        --text-color: #fff;
    }
  }
.navbar {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    justify-content: space-between;
}
.navbar img {
    height: 45px;
    width: 45px;
    margin-left: 30px;
}
.time {
    margin-right: 30px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-color);
}

.banniere {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    width: 80%;
    border-radius: 15px;
    background-color: gray;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
      animation-name: fadeIn;
      animation-duration: 1.5s;
}
.banniere h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }
  .banniere p {
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: white;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }

.cards{
    height: 300px;
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 100%;
    border-radius: 15px;
    background-color: gray;
    margin: 10px;
    box-shadow: 4px 3px 8px 1px #96969633;
  	-webkit-box-shadow: 4px 3px 8px 1px #96969633;
      animation-name: fadeIn;
      animation-duration: 1.5s;
      overflow: hidden;
    
}
.cards .card h1 {
    position: absolute;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }
  .cards .card img {
    filter: brightness(80%);
    height: 300px;
    width: 100%;
    
  }
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    visibility: hidden;
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    background-color: var(--bg);
    width: 500px;
    height: 80vh;
    filter: drop-shadow(2px 2px 5px rgb(0 0 0 / 0.4));
    overflow-y: scroll;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--box-bg);
    border-radius: 10px 10px 0 0;
  }
  
  .modal-header .title {
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }
  
  .modal-header .close-button {
    right: 10px;
    position: absolute;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color);
    filter: drop-shadow(1px 1px 2px rgb(0 0 0 / 0.4));
  }
  
  .modal-body {
    padding: 10px 15px;
    color: var(--text-color-alt);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .popupoverlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  .popupoverlay.active {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 1;
    opacity: 1;
    pointer-events: all;
  }